span {color: red;}
a {text-decoration: none;}
.clickCurriculo {
    width: 500px;
    height: 500px;
    padding: 10px;
    margin-bottom: auto;
    background-color: red;
    border: 3px;
    border-radius: 5px;
}
