/*geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body {
    flex-wrap: wrap;
}
/*fontes*/
span {color: red;}
a {text-decoration: none; list-style: none; color: aliceblue;}
h1 {color: aliceblue;}
p {color: aliceblue;}
/*header menu*/
header {
    background: rgb(26, 26, 26);
    margin: 0;
    padding: 0.4rem
}
.itens-nav {
    padding: 0.5rem;
}
#nav-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    
}
#name-header {
    font-size: 1.5rem;
    font-weight: bold;
}
#logo-header {
    width: 25px;
}
/*section home*/
#s-home {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 2rem 2rem;
}
#text-home {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    max-width: 800px;
    padding: 2rem 3rem;
    margin-top: 4rem;
}
#subtext-home {
    margin-bottom: 3rem;
    font-size: 1.3rem;
    max-width: 700px;
    line-height: 1.4rem;
    padding: 0rem 3rem;
}
.clickCurriculo {
    width: 500px;
    height: 500px;
    padding: 10px;
    background-color: red;
    border: 3px;
    border-radius: 5px;
    margin-left: 3rem;
}
/*section about*/
#s-about {
    background-color: rgb(26, 26, 26);
    display: flex;
    flex: 1.4;
    padding: 2rem 4rem;
}
